<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3><b><font color="green">
            @Html.ActionLink("Government Service for Citizen", "Index", "Default", new { area = "" }, new { @class = "navbar-brand" })
            </h3></font></b>
            @Html.ActionLink("Customer Signin", "Create", "Customers", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Customer Login", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Staff Login", "Logins", "Logins", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section>
<h2><a href="#mission">The Mission</a> | <a href="#met">How We Met</a> | <a href="#you">MEET THE ADVENTURE IN YOU</a></h2>
<h1 id="mission">THE MISSION</h1>
<h2>
    To Inspire People To Do More and Live Their Life To The Fullest, So They Can Create
    Unforgettable Memories
</h2>
<p>
    Hey there! We’re Tom and Anna, the two travelers behind this (kickass travel blog).
    Let me fill you in on a secret. Traveling has changed our lives and we want it to do
    the same for you.

    Have you ever wondered:

    “What’s the best way to start planning a trip?”

    “How do I find the best things to do while on the road?”

    “How can some people afford to travel for so long?”

    “How do people make money from travel blogging?”

    If you answered yes to any of these questions, you are not alone as we once asked
    those questions ourselves.
    You see, before we became full-time travel bloggers whose job consists of leaping
    off airplanes or trekking through lush jungles, we were just like most people. We
    knew we wanted more out of life but we just didn’t know how to change things. I, Anna
    was working in the Philippines as a teacher and Tom was working in the UK as a waiter
    while finishing his degree.
</p>
<h1 id="met">HOW WE MET</h1>
<p>
    Serendipitously, after saving up every penny that we had, we both set off on a life-changing
    solo backpacking trip and met each other along the way. Since then, we have traveled to countless
    countries and four continents together.

    Not knowing what to expect (or how to even run a travel blog), we started Adventure in You mainly
    because we wanted to stay connected to something that we loved which was traveling. Little did
    we know that starting a travel blog together would end up changing our lives as it has ultimately
    given us the freedom to work and live from anywhere in the world.
</p>
                </section>

<h1>vision</h1>
<p>Software engineering is the discipline of creating high-quality software systems in a systematic, controlled and efficient manner. It involves the application of engineering concepts, techniques, and methods to the design, development, deployment and maintenance of software systems. A software engineering program should develop professionals who have a mastery of principles, theory, practices, and processes necessary to produce quality software systems. The committee formalized the Vision Statement for SE education in Pakistan as follows.</p>

<br>

<h1>goals</h1>
<p>
    Objective of the program is to prepare students for professional careers and graduate studies with a balance between computing theory and practical application of software engineering concepts, methodologies, tools and technologies in the modern software development environments. The curriculum is designed to ensure breadth across allied disciplines and supporting subjects; and depth in most areas of the software engineering body of knowledge. Various components have been included in the curriculum to ensure that the graduates will:
</p>


